<!DOCTYPE html>
<html lang = "en" >

<head>
    <title>Donation Form</title>
    <link rel ="stylesheet" href ="task_3_form.css">
    <script src = "task_3_form.js"></script>
</head>

<body>
    <h2> Donor Information </h2>

    <table>
        <tr>
            <td> First Name: </td>
            <td> <input type ="text"  ></td>
        </tr>

        <tr>
            <td> Last Name: </td>
            <td> <input type ="text" ></td>
        </tr>

        <tr>
            <td> Address: </td>
            <td> <input type ="text" ></td>
        </tr>

        <tr>
            <td> City: </td>
            <td> <input type ="text" ></td>
        </tr>

        <tr>
            <td> State: </td>
            <td> 
                <select input = "text">
                    <option value = "" >Select a State</option>
                    <option value = "Dhaka" > Dhaka</option>
                    <option value = "CTG" > CTG</option>
                    <option value = "ajshahi" > Rajshahi</option>
                    <option value = "khulna" > Khulna</option>
                </select>
            </td>
        </tr>

        <tr>
            <td> Phone: </td>
            <td> <input type ="text"  ></td>
        </tr>

        <tr>
            <td> Email: </td>
            <td> <input type ="email" ></td>
        </tr>

        <tr>
            <td> Create Password: </td>
            <td> <input type ="text"  ></td>
        </tr>

        <tr>
            <td> Confirm Password: </td>
            <td> <input type ="text" ></td>
        </tr>

        <tr>
            <td> Donation Amount: </td>
            <td>
                 <input type ="radio" name=" amount"  value="none"> None
                 <input type ="radio" name=" amount"  value="500"> 500 BDT
                 <input type ="radio" name=" amount"  value="1000"> 1000 BDT
                 <input type ="radio" name=" amount"  value="2000"> 2000 BDT
                 <input type ="radio" name=" amount"  value="other"> Other

            </td>
        </tr>

        <tr>
            <td> Interested in regular donation: </td>
            <td> <input type ="checkbox"  ></td>
        </tr>

        <tr>
            <td> colspan ="2"> Additional Information:  </td>
            <td><button type ="submit">Submit</button> </td>
            <td><button type ="reset">Reset</button></td>
            

           
        </tr>

        <tr>
            <td> Anonymous Gifts: </td>
            <td> <input type ="checkbox"  ></td>
        </tr>

        <tr>
            <td> No Thanking Letter: </td>
            <td> <input type ="checkbox"  ></td>
        </tr>

        <tr>
            <td> Comments: </td>
            <td> <input type ="text"  ></td>
        </tr>



































        

    </table>
</body>






</html>