body {
    font-family: Arial, sans-serif; 
    background-color: #f3f3f3 ;
    padding : 30 px;
}

form {

    width : 400px:auto;
    background: #fff;
    padding = 20 px;
    margin : auto ;

}

h2 {
    text-align : center;
    color : #f1f1;
    
}